:root {
  --colorProducto: rgb(59, 59, 59);
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  user-select: none;
}
.dimensiones {
  max-width: 1200px;
  margin: 0 auto;
}
header {
  background-image: url(../../public/img/imagenCentral.png);
  background-size: cover;
  height: 100%;
  width: 100%;
  background-repeat: no-repeat;
  padding-bottom: 10px;
}
header nav {
  height: 20vh;
  width: 50%;
  padding-left: 30px;
  display: flex;
  align-items: center;
}
.mostrar,
.ocultar {
  display: none;
  transition: 0.4s;
}
nav .container-logo {
  display: flex;
  align-items: center;
}
nav .container-logo img {
  position: relative;
}
header nav .container-nav {
  display: flex;
  width: 100%;
  min-width: 400px;
  padding-left: 30px;
  justify-content: space-between;
}
header nav .container-nav a {
  color: white;
  position: relative;
  text-decoration: none;
  font-size: 19px;
}
header nav .container-nav a:hover {
  text-decoration: underline 2px white;
  text-underline-offset: 5px;
}
header .container-text-header {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  min-height: 85vh;
  height: 100%;
}
header .container-text-header div {
  width: 35%;
}
header .container-text-header div h1 {
  font-size: 44px;
  color: white;
  font-weight: 100;
}
header .container-text-header div p {
  color: rgba(255, 255, 255, 0.644);
  font-size: 24px;
  letter-spacing: 3px;
  margin-top: 15px;
  width: 90%;
}
header .container-text-header div .container-btn-header {
  width: 90%;
  display: flex;
  justify-content: center;
}
header .container-text-header div .container-btn-header button {
  border: none;
  background: rgba(10, 10, 10, 0.685);
  color: white;
  border-radius: 25px;
  margin-top: 30px;
  padding: 18px 55px;
}
header .container-text-header div .container-btn-header button:hover {
  cursor: pointer;
  background: black;
}
@keyframes fadeInAndBlur {
  from {
    opacity: 0;
    filter: blur(4px);
  }
  to {
    opacity: 1;
    filter: blur(0);
  }
}

.fade-in {
  animation: fadeInAndBlur 1.6s ease;
  opacity: 0;
  transform: translateY(10px);
  transition: opacity 0.5s ease-in-out, transform 0.5s ease-in-out;
  transition-delay: 0.5s; 
}
.fade-in.active {
  opacity: 1;
  transform: translateY(0);
  transition-delay: 0.5s; 
}

header .container-text-header .content-element{
  display: flex;
  width: 100%;
  flex-direction: column;
  margin-top: 20px; 
 }
 header .container-text-header .content-element .content-div{
  display: flex;
  width: 85%;
  margin: 0 auto;
  text-align: center;
 }
 header .container-text-header .content-element .content-btn-header{
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin:25px 0 15px 0;
 }
 header .container-text-header .content-element .content-btn-header button{
  font-size: 19px;
  padding: 7px 16px;
 }
 header .container-text-header .content-element .content-div .fade-in{
  width: 33%;
  background-color: rgba(196, 196, 196, 0.671);
  display: flex;
  min-height: 415px;
  flex-direction: column;
  height: 100%;
  border-radius: 10px;
  margin: 0 5px;
 }
 header .container-text-header .content-element .content-div .fade-in h2{
  margin:20px 0 8px 0 ;
  text-decoration: 2px underline rgba(218, 143, 89, 0.801);
  text-underline-offset: 4px;
  font-size: 1.7rem;
 }
 header .container-text-header .content-element .content-div .fade-in .content-text{
  width: 100%;
  margin-left: 4px;
  display: flex;
  flex-direction: column;
 }
 header .container-text-header .content-element .content-div .fade-in:nth-child(3) .content-text{
  text-align: left;
  width: 93%;
  margin: 0 auto;
 }
 header .container-text-header .content-element .content-div .fade-in .content-text p{
  font-size: 19px;
  margin: 15px 0 0 0;
  letter-spacing: 0;
 }
/* --------------------------------------------- */
main .productos {
  height: 15vh;
  background: var(--colorProducto);
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 18px;
}
main .container-caract {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  padding-top: 30px;
  background: rgb(59, 59, 59);
}
main .container-caract h3 {
  font-size: 27px;
  color: white;
  text-align: center;
}
main .container-caract .container-info {
  display: flex;
  width: 40%;
  justify-content: space-between;
  margin: 0 auto;
}
main .container-caract .container-info .info {
  margin: 30px 0px;
  text-align: center;
  width: 30%;
  color: rgba(216, 169, 135, 0.801);
}
main .container-caract .container-info .info img {
  width: 90px;
  margin-bottom: 15px;
}

main .banner {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: auto;
}
main .banner article {
  display: flex;
  width: 100%;
  min-height: 65vh;
  height: 100%;
  background-color: black;
}
main .banner article .container-img-banner {
  min-width: 50%;
  line-height: 0;
}
main .banner article .container-img-banner img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
main .banner article .container-gral-banner {
  color: aliceblue;
  min-width: 50%;
  display: flex;
  position: relative;
  height: 100%;
  flex-direction: column;
  justify-content: start;
  text-align: center;
  padding: 40px 0px 30px 40px;
}
main .banner article .container-gral-banner .container-card-banner {
  z-index: 500;
  position: relative;
  opacity: 1;
  transition: opacity 3s ease;
}
main .banner article .container-gral-banner .container-card-banner h3 {
  padding-bottom: 40px;
  color: rgba(216, 169, 135, 0.801);
  font-weight: normal;
  font-size: 26px;
}
main
  .banner
  article
  .container-gral-banner
  .container-card-banner
  .container-parrafo {
  text-align: left;
}
main
  .banner
  article
  .container-gral-banner
  .container-card-banner
  .container-parrafo
  p:nth-child(1) {
  width: 90%;
  font-size: 17px;
  padding-bottom: 30px;
}
main
  .banner
  article
  .container-gral-banner
  .container-card-banner
  .container-parrafo
  p:nth-child(2) {
  color: rgba(216, 169, 135, 0.801);
  font-weight: 600;
  padding-bottom: 50px;
}
main .banner article .container-gral-banner .container-card-banner .banner-btn,
main .banner .banner-end .banner-btn {
  width: 90%;
  display: flex;
  justify-content: center;
}
main
  .banner
  article
  .container-gral-banner
  .container-card-banner
  .banner-btn
  button, main .banner article .container-gral-banner .return .cont-btn-return button{
  background: none;
  border: 3px solid rgba(216, 169, 135, 0.801);
  color: rgba(216, 169, 135, 0.801);
  padding: 10px 20px;
}
main
  .banner
  article
  .container-gral-banner
  .container-card-banner
  .banner-btn
  button:hover, main .banner article .container-gral-banner .return .cont-btn-return button:hover {
  cursor: pointer;
  color: black;
  background: rgba(216, 169, 135, 0.801);
}
main .banner article .container-gral-banner .return {
  display: flex;
  position: absolute;
  z-index: -1;
  transition: opacity 3s ease;
  color: aliceblue;
  opacity: 0;
  min-width: 50%;
  height: 100%;
  flex-direction: column;
  justify-content: start;
  text-align: center;
}

main .banner article .container-gral-banner .container-card-banner.hide {
  position: absolute;
  z-index: -1;
  transition: opacity 3s ease;
  opacity: 0;
}
main .banner article .container-gral-banner .return h1{
color: rgb(206, 177, 124) ;
font-size: 22px;
font-weight: 0;
margin-bottom: 20px;
}
main .banner article .container-gral-banner .return ul{
  text-align: left;
  margin: 0 0 20px 20px;
}

main .banner article .container-gral-banner .return ul li{
  padding: 10px 0;
  list-style: circle;
}
main .banner article .container-gral-banner .return.view {
  opacity: 1;
  position: relative;
  transition: opacity 3s ease;
  z-index: 500;
}

main .banner .banner-end {
  height: 100%;
  width: 100%;
  display: flex;
  background: rgb(206, 177, 124);
  padding: 40px 0;
  position: relative;
}
main .banner .banner-end .container-card-banner {
  width: 65%;
  text-align: center;
  display: flex;
  align-items: center;
  flex-direction: column;
  transition:  0.5s ease;
  opacity: 1;
  z-index: 500;
  position: relative;
}
.container-img-banner-end {
  transition: transform 1s ease; 
  transform: translateX(0);
  z-index: 1;
}
main .banner .banner-end .container-card-banner.hideText {
  position: absolute;
  z-index: -1;
  transition:  0.5s ease;
  opacity: 0;
}
.move-left{
  transform: translateX(-200%); 
}
main .banner .banner-end .text2{
  opacity: 0;
  z-index: -10;
  width: 0;
  height: 0;
  position: absolute;
  transition: opacity 1s ease 1.2s;
}
main .banner .banner-end .viewText .content-ingre{
  display: flex;
  flex-direction: column;
}
main .banner .banner-end .viewText .content-ingre .container-data{
  display: flex;
  width: 100%;
}
main .banner .banner-end .viewText .content-ingre .container-data .ingredientes, main .banner .banner-end .viewText .content-ingre .container-data .infoNutri{
  max-width: 48%;
  width: 100%;
  text-align: center;
}
main .banner .banner-end .viewText .content-ingre .ingredientes ul, main .banner .banner-end .viewText .content-ingre .infoNutri ul{
  display: flex;
  flex-direction: column;
  align-items: start;
}

.viewText{ 
  width: 65%;
  opacity: 1;
  margin-left:10px ;
  z-index: 10;
  transition: opacity 1s ease 1.2s;
  display: flex;
  flex-direction: column;
  text-align: center;
}
.viewText h2{
  color:rgb(88, 63, 25) ;
  margin-bottom: 10px;
}
main .banner .banner-end .viewText .content-ingre .ingredientes h4, main .banner .banner-end .viewText .content-ingre .infoNutri h4{
  color: white;
  text-decoration:2px underline rgb(88, 63, 25) ;
  text-underline-offset: 4px;
  margin-bottom: 10px;
}
main .banner .banner-end .viewText .content-ingre .infoNutri ul li{
  margin-bottom: 10px;
}
main .banner .banner-end .container-card-banner h3 {
  color: rgb(116, 81, 29);
  font-weight: normal;
  font-size: 28px;
  padding: 30px 0;
}
main .banner .banner-end .container-card-banner .container-parrafo {
  text-align: left;
  width: 60%;
  font-size: 17px;
}
main
  .banner
  .banner-end
  .container-card-banner
  .container-parrafo
  p:nth-child(1) {
  color: white;
  padding-bottom: 24px;
}
main
  .banner
  .banner-end
  .container-card-banner
  .container-parrafo
  p:nth-child(2) {
  color: rgb(88, 63, 25);
  font-weight: 600;
  padding-bottom: 40px;
}

main .banner .container-card-banner .banner-btn button,
main .contact .contact-form form .cont-btn button,main .banner .banner-end .viewText .content-ingre .banner-btn button {
  background: none;
  border: 3px solid rgb(88, 63, 25);
  color: rgb(88, 63, 25);
  padding: 10px 20px;
  font-weight: 600;
}
main .banner .container-card-banner .banner-btn button:hover,
main .contact .contact-form form .cont-btn button:hover,
main .container-card .card-cont .card-info button:hover, main .banner .banner-end .viewText .content-ingre .banner-btn button:hover {
  background: rgb(88, 63, 25);
  color: rgb(212, 188, 142);
  cursor: pointer;
}
main .contact {
  display: flex;
  width: 100%;
  height: 100%;
  min-height: 385px;
}
main .contact .contact-img {
  width: 45%;
  background-size: cover;
  min-height: 100%;
  background-image: url(../../public//img/Producto4copia.png);
}
main .contact .contact-form {
  width: 55%;
  display: flex;
  flex-direction: column;
  background: rgb(247, 235, 215);
  align-items: center;
}
main .contact .contact-form form {
  width: 60%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  padding-bottom: 20px;
}
main .contact .contact-form form p {
  margin: 30px 0 0 0;
  color: rgb(66, 47, 19);
  font-size: 18px;
}
main .contact .contact-form form label {
  margin: 20px 0 3px 0;
  color: rgb(88, 63, 25);
}
main .contact .contact-form form input {
  background: rgb(88, 63, 25);
  border: none;
  height: 4vh;
  color: white;
  outline: none;
}
main .contact .contact-form form textarea {
  background: rgb(88, 63, 25);
  border: none;
  height: 10vh;
  resize: none;
  color: white;
  outline: none;
}
.error-input{
  border: 2px solid red !important;
}
.error-message{
  font-size: 13px;
  margin-top: 2px;
  color: red;
}
main .contact .contact-form form .cont-btn {
  width: 100%;
  display: flex;
  justify-content: center;
  margin-top: 35px;
}

main .contact .contact-form .formSubmit{
  display: flex;
  flex-direction: column;
  width: 90%;
  margin: 0 auto;
  height: 100%;
  justify-content: center;
  align-items: center;
}
main .contact .contact-form .formSubmit p, main .contact .contact-form .formSubmit h3{
  color: rgb(14, 14, 14);
}
main .contact .contact-form .formSubmit p{
margin: 20px 0 30px 0;
}
main .contact .contact-form .formSubmit .btn-formSubmit{
  width: 40%;
  display: flex;
  justify-content: flex-end;
}
section .contenedor-principal {
  display: flex;
  width: 100%;
 padding-left: 20px;
  background: var(--colorProducto);
  position: relative;
}
section .contenedor-principal .flecha-izquierda,
section .contenedor-principal .flecha-derecha {
  position: absolute;
  border: none;
  background: rgb(209, 209, 209);
  font-size: 12px;
top: 50%;
transform: translateY(-50%);
  height: 40px;
  width: 30px;
  color: rgb(0, 0, 0);
  z-index: 400;
  transition: 0.2s;
}
section .contenedor-principal .flecha-izquierda {
  left: 0;
}
section .contenedor-principal .flecha-derecha {
  right: 0;
}
section .contenedor-principal .flecha-izquierda:hover,
section .contenedor-principal .flecha-derecha:hover {
  cursor: pointer;
  background: rgb(255, 255, 255);
}
section .contenedor-principal .container-carrusel {
  width: 100%;
  overflow: hidden;
  scroll-behavior: smooth;

}
section .contenedor-principal .container-carrusel .container-card {
  display: flex;
  margin: 0 auto;
  justify-content: space-between;
  width: 100%;
  flex-wrap: nowrap;
}

section .contenedor-principal .container-carrusel .container-card .card-cont {
  display: flex;
  flex-direction: column;
  padding: 0 20px 0 0;
  height: 100%;
  min-width: 33.333%;
   overflow: hidden;
  transition: max-height 0.5s ease-in-out;
  scroll-snap-align: start;
}

.contenidOculto{
  display: flex;
  flex-direction: column;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.5s ease-in-out;
   flex-grow: 0;
   width: 95%;
  padding: 0;
  margin: 20px auto 0 auto;
  background:rgb(206, 177, 124) ;
}
.contenidOculto h4{
font-size: 18px;
text-decoration: underline;
  text-decoration-color: rgb(88, 63, 25);
  text-underline-offset: 3px;
  margin:0 0 10px 0;
}
.contenidOculto ul{
  width: 85%;
  color: white;
  margin:0 auto 10px auto;
}
.contenidOculto .container-pasos{
  display: flex;
  margin-bottom: 10px;
}
.contenidOculto .container-pasos span{
  color: rgb(88, 63, 25);
}
.contenidOculto .container-pasos p{
width: 80% !important;
margin: 0 0 0 5px;
}
main .container-card .card-cont .card-img {
  height: 40vh;
}
main .container-card .card-cont .card-img img {
  width: 100%;
  height: 100%;
}
main .container-card .card-cont .card-info {
  display: flex;
  flex-direction: column;
  min-height: 256px;
  align-items: center;
  padding: 10px 0;
  background: rgb(206, 177, 124);
}
main .container-card .card-cont .card-info h3 {
  color: rgb(88, 63, 25);
  font-weight: normal;
  font-size: 26px;
  margin-bottom: 10px;
}
main .container-card .card-cont .card-info p {
  width: 73%;
  color: white;
}
main .container-card .card-cont .card-info button {
  background: none;
  border: 2px solid rgb(88, 63, 25);
  color: rgb(88, 63, 25);
  padding: 5px 10px;
  font-weight: 600;
  margin: 15px 0 10px 0;
}
footer {
  background: rgb(24, 24, 24);
}
footer .container-footer {
  width: 90%;
  height: 100%;
  display: flex;
  padding: 30px 0 20px 0;
  margin: 0 auto;
}
footer .container-footer .container-img-footer {
  width: 12%;
  margin: auto 4% auto 0;
}
footer .container-footer img {
  width: 90%;
}
footer .container-footer .container-menu {
  display: flex;
  width: 80%;
  justify-content: space-around;
}
footer .container-footer .container-menu .menu {
  display: flex;
  flex-direction: column;
  width: 20%;
}
footer .container-footer .container-menu .redes {
  display: flex;
  flex-direction: column;
  width: 20%;
  text-align: center;
}
footer .container-footer .container-menu .menu p,
footer .container-footer .container-menu .redes p {
  color: rgb(206, 177, 124);
  font-size: 20px;
  margin-bottom: 8px;
}
footer .container-footer .container-menu .menu a {
  text-decoration: none;
  font-size: 20px;
  padding: 10px 0;
  color: rgba(255, 255, 255, 0.986);
}
footer .container-footer .container-menu .redes a {
  text-decoration: none;
  font-size: 23px;
  padding: 10px 0;
  color: white;
}
footer .container-footer .container-menu .menu a:hover,
footer .container-footer .container-menu .redes a:hover {
  color: rgb(206, 177, 124);
}
footer > p {
  background: rgb(206, 177, 124);
  color: white;
  padding: 5px 0;
  text-align: center;
  font-size: 18px;
  margin: 0;
}

@media (max-width: 768px) {
  .mostrar,
  .ocultar {
    display: block;
    color: white;
    font-size: 25px;
  }
  .container-nav {
    position: fixed;
    width: 100%;
    height: 100vh;
    top: 0;
    display: flex;
    flex-direction: column;
    right: 0;
    background: rgba(0, 0, 0, 0.507);
    text-align: center;
    padding: 100px 0;
    z-index: 100;
    transform: translateX(100%);
    visibility: hidden;
  }
  .container-nav.visible {
    transform: translateX(0);
    visibility: visible;
    transition: 0.6s;
    opacity: 1;
  }
  .mostrar {
    position: absolute;
    top: 40px;
    right: 20px;
    font-size: 20px;
    cursor: pointer;
  }
  .ocultar {
    position: absolute;
    top: 20px;
    right: 20px;
    font-size: 20px;
    cursor: pointer;
  }
  .container-nav.visible .mostrar {
    display: block;
  }
  header .container-text-header {
    justify-content: start;
  }
  header .container-text-header div {
    width: 90%;
    margin: 0 auto;
  }
  header .container-text-header .content-element .content-div{
    flex-direction: column;
  }
  header .container-text-header .content-element .content-div .fade-in{
    width: 100%;
    margin: 10px 0;
    padding-bottom: 10px;
    min-height: 255px !important;
  }
  main .banner article {
    display: flex;
    height: 100%;
    flex-direction: column;
  }
  main .banner article .container-img-banner {
    width: 100%;
  }
  main .banner article .container-img-banner img {
    width: 100%;
  }
  main .banner article .container-card-banner {
    width: 100%;
  }
  .viewText{
    width: 100%;
    margin-bottom: 15px;
  }

  .container-img-banner {
    order: 2;
    margin-top: 20px;
  }
  .container-card-banner {
    order: 1;
    margin-bottom: 20px;
  }
  main .banner .banner-end {
    display: flex;
    flex-direction: column;
    text-align: center;
  }
  main .banner .banner-end .container-card-banner {
    width: 100%;
    order: 0;
  }
  main .banner .banner-end .container-img-banner-end {
    width: 100%;
    display: flex;
    justify-content: center;
  }
  main .banner .banner-end .container-img-banner-end img {
    width: 45%;
  }
  main .container-caract .container-info {
    flex-direction: column;
    align-items: center;
  }
  main .container-caract .container-info .info {
    width: 100%;
  }
  main .contact {
    flex-direction: column;
  }
  main .contact .contact-form {
    width: 100%;
  }
  main .contenedor-principal .container-carrusel .container-card {
    flex-direction: column;
    align-items: center;
    
  }
  main .container-card .card-cont {
    width: 60%;
    margin: 20px 0;
    min-width: 280px !important;
  }
  section .contenedor-indicadores,
  .contenedor-principal .flecha-izquierda,
  .contenedor-principal .flecha-derecha {
    display: none;
  }
  main .container-card .card-cont .card-img {
    height: 55vh;
  }
  .productos:nth-child(8) {
    display: none;
  }
  footer .container-footer .container-menu .menu,
  footer .container-footer .container-menu .redes p {
    display: none;
  }
  footer .container-footer .container-menu {
    justify-content: right;
    display: flex;
  }
  footer .container-footer .container-img-footer img {
    min-width: 70px;
  }
}
